.lineChart {
}
.doughnut {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  /* background-color: #1b2030; */
  /* border: 1px solid #1b203033; */
  /* box-shadow: 1px 1px #1b203033;
  */

  border-radius: 10px;
  color: white !important;
}
.chart {
  max-width: 450px;
}
.thead th {
  background-color: var(--primaryColor) !important;
}
