@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root {
  --primaryColor: #1b2030;
  --accentColor: #7634f4;
  --accentColorLight: #845ccf;
}
